---
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Money Advice Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="./css/application.css" rel="stylesheet">
</head>
<body>

<div class='container'>
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="./index.html">Home</a></li>
            <li><a class="active" href="./widgets.html">Widget</a></li>
            <li><a href="./widgets-qa.html">Widget (QA view)</a></li>
        </ul>
        <h3 class="muted">Money Advice Service</h3>
    </div>

    <hr>

    {% include widgets-main.html %}
</div>

{% if site.development == true %}
  {% include development.html %}
{% endif %}

<script class='application_scripts' src="{{site.public_website_url}}/assets/syndication/tools.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/widget_test_harness.js"></script>
<script type="text/javascript">

    widgetTestHarnessInit(this, jQuery, '{{site.public_website_url}}');

</script>
</body>
</html>
