<script>
  var toolsConfig = {
    "syndication_url": "{{site.public_website_url}}",
    "analytics_account": "UA-12121-1",
    "base_url": "{{site.public_website_url}}",
    "mas_facebook_page_url": "https://www.facebook.com/pages/MAS/339474349485282",
    "money_mindset": {
      "facebook_app_id": "222141471251865",
      "facebook_page_url": "https://apps.facebook.com/money-mindset-dev/"
    },
    "universal_credit_timeline": {
      "google_doc_url_en": "https://docs.google.com/spreadsheet/pub?key=0AsSsR9jd04p3dFYxZnFBNlVET0RwS21YaWhzSWFXZ3c&output=html",
      "google_doc_url_cy": "https://docs.google.com/spreadsheet/pub?key=0Aphp9-J_AA9FdDBIZlc5cV8xT1p4T1NEMzJ1UzB5U3c&output=html"
    },
    "syndication": {
      "ga_iframe_url": "http://localhost:3000/static/tools/partner_ga_iframe.html"
    }
  };
</script>
