<div class='container'>
    <div class="masthead">
        {% include menu.html %}
        <h3 class="muted">Money Advice Service</h3>
    </div>

    <hr>

    {% include widgets-main.html %}
</div>

{% if site.development == true %}
  {% include development.html %}
{% endif %}

<script class='application_scripts' src="{{site.public_website_url}}/assets/syndication/tools.js"></script>
<script src="{{site.github.baseurl}}/js/widget_test_harness.js"></script>
<script type="text/javascript">

    widgetTestHarnessInit(this, jQuery, '{{site.public_website_url}}');

</script>
