<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Money Advice Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{site.github.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.github.baseurl}}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{site.github.baseurl}}/css/application.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{site.github.baseurl}}/js/jquery.min.js"></script>
    <script src="{{site.github.baseurl}}/js/bootstrap-dropdown.js"></script>
</head>

<body>

{{content}}

</body
</html>

